
  #navbar{
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #000000;
	border: solid;
	top: 0;
	left: 0;
	height: 1.6em;
	
}

.nav-link{
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 10px;
	text-transform: uppercase;
}

.nav-link:hover{
	color: #ffffff;
	}

@media screen and (min-width: 375px){
	#navbar{
		height: 2.1em;
	}
	
	.nav-link{
		font-size: 1.5em;
	}
}
@media screen and (min-width: 414px){
	#navbar{
		height: 2.3em;
	}
	
	.nav-link{
		font-size: 1.8em;
	}
}
@media screen and (min-width: 768px){
	#navbar{
		height: 4.0em;
	}
	
	.nav-link{
		font-size: 3.0em;
	}
}

