#welcome-section{
	margin-top: 2.5em;
	margin-left: 0;
	padding: 1.0em;
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	
}


#navbar{
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #000000;
	border: solid;
	top: 0;
	left: 0;
	height: 2.5em;
	
}

.nav-link{
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
	border-radius: 10px;
}

.nav-link:hover{
	color: #ffffff;

}


a{
	color: black;
	font-family: 'Ubuntu', sans-serif;
	display: inline;
	
}

a:hover{

	border-radius: 10px;
}

body{
	background-image: linear-gradient(to bottom,  #660066, #2929a3, #000066);
}

#hello{
	font-size: 6.0em;
	margin-top: 2.5em;
	text-align: center;
	opacity: 0.9;
	text-transform: capitalize;
}

h2{
	margin-top: 4.5em;
	margin-right: 1.0em;
	font-size: 4.0em;
	opacity: 0.5;
	text-align: right;
	
}

#aboutMe{
	margin-left: 1.0em;
	display: flex;
}

#projects{

	margin-left: 1.0em;
	display: flex;
}

.small-image{
	height: auto;
	width: auto;
	max-height: 400px;
	max-width: 300px;
	transform: rotate(90deg);
	border-radius: 10px;
	}

.small-image-two{
	margin-left: 6.0em;
	height: auto;
	width: 100%;
	max-width: 640px;
	border-radius: 10px;
	transition: transform .2s;
}
.small-image-two:hover{
	transform: scale(1.005);
}

.link-images{
	height: auto;
	width: 100%;
	max-height: 50px;
	max-width: 50px;
	border-radius: 10px;
	transition: transform .2s;
}

.link-images:hover{
	transform: scale(1.1);
}

p{	
	padding: 1.0em;
	font-size: 1.2em;
	line-height: 2.0;
	opacity: 0.9;
}

#bLinks{
	text-align: center;
	line-height: 2.0;
	margin-top: 3.5em;
}

@media (max-width: 320px){
	#navbar {
		height: 5.5em;
		text align: center;
	}
	
	.nav-link{
		font-size: 2.8em;
	}
	#hello{
		width: 250px;
		height: 740px;
		font-size: 4.0em;
	}
	
}
