

#navbar{
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #000000;
	border: solid;
	top: 0;
	left: 0;
	height: 2.5em;
	
}

.nav-link{
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
	border-radius: 10px;
}

.nav-link:hover{
	color: #ffffff;

}

h1{
	text-align: center;
}


