body{
	background-color: #232323;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 auto;
}

h1{
	color: #ffffff;
	text-align: center;
	background-color: #009999;
	margin: 0 auto;
	
}
#colorDisplay{
	text-transform: uppercase;
}

button{
	padding: 0.8em;
	background-color:#ffffff;
	border: solid;
	border-radius: 10px;
	border-color: #ffffff;
	color: #009999;
}
.square{
	width: 30%;
	background-color: purple;
	float: left;
	padding-bottom: 30%;
	border-radius: 25px;
	margin: 1.6%;
}

.select{
	border: solid;
	
}

#resetB{
	border: solid;
}
#container{
	max-width: 500px;
	margin: 0 auto;
}

#message{
	color: #000000;
	display: inline-block;
	width: 8.0em;
	
}

#stripe{
	color: #000000;
	height: 2.65em;
	text-align: center;
	color: black;
	background-color: white;
}

@media (min-width: 375px) and (orientation:portrait){
	
	h1{
		font-size: 5.0em;
	}
	button{
		font-size: 2.5em;
	}
	#container{
	max-width: 800px;
	margin-top: 4.0em;
	}
	
	#stripe{
	height: 7.20em;
	}
	#message{
	font-size: 2.5em;
	}
}